<body class="bg-emerald-50">
  <div>
    <div
      class="flex justify-self-center bg-white w-full h-100 my-4 py-4 px-8 rounded-lg shadow-sm font-raleway border-1 border-t-4 border-emerald-600 shadow-sm"
    >
      <!-- Page Header -->
      <div class="pb-4 w-full">
        <div>
          <h1 class="font-semibold text-2xl font-raleway">Edit Prescription</h1>
        </div>

        <!-- Edit Prescription Form -->
        <%= form_with model: @prescription do |f| %>
        <div class="flex flex-col mt-6 w-full">
          <!-- Patient's name -->
          <div class="pb-6">
            <%= f.label(:patient_id, "Patient's name", class: "block text-sm
            font-medium leading-6 text-gray-900") %>
            <div class="mt-1">
              <%= f.collection_select(:patient_id, Patient.order(:last_name,
              :first_name), :id, :full_name, prompt: true, id:
              "patient-dropdown" , class: "tom-select block w-3/4 rounded-md
              border-0 py-1.5 text-gray-900 w-80 shadow-sm ring-1 ring-inset
              ring-gray-300 placeholder:text-gray-400 focus:ring-2
              focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6",
              placeholder: "Patient's name", required: true) %>
            </div>
          </div>

          <!-- Prescription main content -->

          <div
            class="flex flex-row flex-shrink mb-4 border border-slate-300 p-4 rounded-md bg-slate-100 w-full"
          >
            <div class="pr-2 font-semibold">#1</div>
            <div class="flex flex-col">
              <div class="flex flex-row flex-shrink mb-2">
                <div class="sm:col-span-3">
                  <%= f.label(:drug_name, "Drug name", class: "block text-sm
                  font-medium leading-6 text-gray-900") %>
                  <div class="mr-4">
                    <%= f.text_field(:drug_name, class: "block rounded-md
                    border-0 py-1.5 text-gray-900 w-72 shadow-sm ring-1
                    ring-inset ring-gray-300 placeholder:text-gray-400
                    focus:ring-2 focus:ring-inset focus:ring-indigo-600
                    sm:text-sm sm:leading-6", placeholder: "ex. Paracetamol",
                    required: true) %>
                  </div>
                </div>

                <div class="sm:col-span-3">
                  <%= f.label(:preparation, "Preparation", class: "flex flex-row
                  text-sm font-medium leading-6 text-gray-900") %>
                  <div class="mr-4">
                    <%= f.text_field(:preparation, class: "block rounded-md
                    border-0 py-1.5 text-gray-900 w-56 shadow-sm ring-1
                    ring-inset ring-gray-300 placeholder:text-gray-400
                    focus:ring-2 focus:ring-inset focus:ring-indigo-600
                    sm:text-sm sm:leading-6", placeholder: "ex. 500mg/tablet")
                    %>
                  </div>
                </div>

                <div>
                  <%= f.label(:quantity, "Quantity", class: "block text-sm
                  font-medium leading-6 text-gray-900") %>
                  <div>
                    <%= f.text_field(:quantity, class: "block rounded-md
                    border-0 py-1.5 text-gray-900 w-16 shadow-sm ring-1
                    ring-inset ring-gray-300 placeholder:text-gray-400
                    focus:ring-2 focus:ring-inset focus:ring-indigo-600
                    sm:text-sm sm:leading-6", placeholder: "ex. 30", required:
                    true) %>
                  </div>
                </div>
              </div>
              <div>
                <%= f.label(:dose_and_frequency, "Dose & Frequency", class:
                "block text-sm font-medium leading-6 text-gray-900") %>
                <div>
                  <%= f.text_field :dose_and_frequency, class: "block rounded-md
                  border-0 py-1.5 text-gray-900 w-3/4 shadow-sm ring-1
                  ring-inset ring-gray-300 placeholder:text-gray-400
                  focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm
                  sm:leading-6", placeholder: "ex. Take 1 tablet every 4hrs...",
                  required: true %>
                </div>
              </div>
            </div>
          </div>

          <!-- Additional Patient Instructions/ Notes -->
          <div
            class="w-auto border border-slate-300 p-4 rounded-md bg-slate-100"
          >
            <%= f.label(:notes, "Instructions/ Additional Notes", class: "block
            text-sm font-medium leading-6 text-gray-900") %>
            <div>
              <%= f.text_area(:notes, class: "block w-full rounded-md border-0
              py-1.5 text-gray-900 w-72 shadow-sm ring-1 ring-inset
              ring-gray-300 placeholder:text-gray-400 focus:ring-2
              focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6",
              placeholder: "Notes", required: true) %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-row place-content-end">
      <%= link_to "Cancel", root_path, class: "flex bg-white px-6 py-2
      text-black font-raleway font-medium text-lg rounded-md mr-4 shadow-sm
      hover:shadow-md" %>
      <div class="m-0">
        <%= f.submit "Save", class: "flex bg-emerald-600 px-6 py-2 rounded-md
        shadow-sm text-white font-raleway font-medium text-lg
        hover:bg-emerald-500 hover:shadow-md hover:cursor-pointer" %>
      </div>
    </div>
    <% end %>
  </div>
</body>
