<body class="bg-sky-100">
  <div
    class="flex justify-self-center bg-white w-full h-100 my-4 py-4 px-8 rounded-lg shadow-sm shadow-lg border-t-4 border-sky-600 font-raleway"
  >
    <div class="w-full overflow-x-auto">
      <!-- Header -->
      <div>
        <h1 class="font-semibold text-2xl">My Patients</h1>
        <div class="flex justify-between">
          <p class="mt-1 text-sm leading-6 text-gray-600">
            List of all registered patients.
          </p>
          <div class="flex mt-1 text-md leading-6 text-gray-600">
            <p>
              Patient Tally:
              <span class="font-semibold"><%= Patient.count %></span>
            </p>
          </div>
        </div>
      </div>
      <br />
      <!-- Patient's Table -->
      <table class="w-full text-sm text-left rtl:text-right text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-gray-100">
          <tr>
            <th scope="col" class="px-6 py-3">Patient's Name</th>
            <th scope="col" class="px-6 py-3">Age</th>
            <th scope="col" class="px-6 py-3">Address</th>
            <th scope="col" class="px-6 py-3">Action</th>
          </tr>
        </thead>

        <tbody>
          <% @patients.each do |patient| %>
          <tr class="white border-b hover:bg-gray-50">
            <th class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
              <%= link_to "#{patient.full_name}", edit_patient_path(patient),
              class: "hover:underline underline-offset-2 underline-gray-900" %>
            </th>
            <td class="px-6 py-4"><%= patient.age %></td>
            <td class="px-6 py-4"><%= patient.city_address %></td>
            <td class="px-6 py-4">
              <%= link_to "Edit", edit_patient_path(patient), class: "text-md
              text-green-700 font-bold hover:underline underline-offset-2
              underline-green-700"%> <%= link_to("Delete",
              patient_path(patient), class: "text-md ml-4 text-red-400 font-bold
              hover:underline underline-offset-2 underline-red-400", method:
              :delete, data: { turbo_method: :delete, turbo_confirm: "Are you
              sure?"}) %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</body>
